
body{
    background: #262525;
    color: #E5E5E5;
    margin: 2% 7%;
}


.nav-bar{
    display: flex;
    justify-content: space-between;
}

li{
    
    display: inline;
    padding: 10px;
    font-size: 20px;
    
    
}

li a {
    color: #E5E5E5;
    text-decoration: none;
}

.navbar a:hover{
    color: #2670a1;
}

.button {
    outline: none;
    background: #262525;
    width: 100px;
    height: 30px;
    font-size: 20px;
    border: solid 1px #4744D9;
    border-radius: 30px;
    color: #4744D9
    
    }

.wrap-posts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem;
    
}

.form {
    max-width: 600px;
    margin: 1rem auto;
}
.form input{
 margin: .5rem 0;
    padding: 1rem;
    border-radius: 5rem;
    border: none;
}

.footer{
display: grid;
grid-template-columns: 2fr 1fr;
}

.subscribe-btn {
    background: #2670a1;
    color: #E5E5E5;
}

.footer-foot {
    margin-top: 1rem;
}

.post-heading{
    color: #E5E5E5;
    text-decoration: none;
}