 
 body {
    background: #262525;
    color: #E5E5E5;
}

.svg{
    fill: #E5E5E5;
}

li{
    
    display: inline;
    color: #E5E5E5;
    padding: 10px;
    font-size: 20px;
    
    
}

.button {
    
background: #262525;
width: 100px;
height: 30px;
font-size: 20px;
border: solid 1px #4744D9;
border-radius: 30px;
color: #4744D9

}



.content {

height: 90vh;
font-size: 2rem; 
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 3rem;

}



.nav-bar{
    display: flex;
justify-content: space-between;

}

li a {
    color: #E5E5E5;
    text-decoration: none;
}

.wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 3rem;
    
    
}

.about {
    font-size: 2rem;
    text-align: center;
    margin: 0 3rem;
}

.image {

width: 321px;
height: 267px;


}
.project{
    text-align: center;
    font-size: 2rem;

}
.wrap-project {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 3rem;
    font-size: 2rem;

}

.blog{
    text-align: center;
    font-size: 2rem;
    

}

.button-div{
    margin: auto;
    max-width: 150px;

}

.wrap-blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin: 0 3rem;
    font-size: 2rem;

}
 .contact{
     display: flex;
     justify-content: space-around;
 }
 
 .right form{
     display: flex;
     flex-direction: column;
 }
 form input, textarea{
     padding: 1rem;
     background: transparent;
     border-radius: 50px;
     border: 1px solid white;
     margin: 1rem 0;
 } 
 .submit-btn{
     background: rgb(0, 153, 255);
     max-width: 50%;
     border: none;
 }

 .blog-btn {
    background: rgb(0, 153, 255);
    /* max-width: 50%; */
    border-radius: 50px;
    border: 1px solid white;
    /* margin: auto; */
    padding: 0 1rem;
    height: 40px;
 }
  
 .contact-head{
     text-align: center;
 }

 .bread{
     display: none;
 }

 .bread div{
     width: 25px;
     height: 3px;
     background-color: #E5E5E5;
     margin: 5px;
 }

 

@media screen and (max-width: 600px) {
 .content {
     flex-direction: column;
     font-size: 20px;
     text-align: center;
 }

 .pic-svg svg{
    width: 340px;
    height: 550px;
    
}

 .about{
    
    font-size: 20px;
    text-align: center;   
 }

 .wrap{
    display: flex;
    justify-content: space-between;
   flex-direction: column;
   font-size: 20px;
   text-align: center;   
}

.project{
    font-size: 20px;
    text-align: center; 
}

.wrap-project{
    display: flex;
    flex-direction: column;
}

.contact{
    flex-direction: column;
}

.contact-section h1{
   color: aqua;
   display: flex;
  
}

 .pic-svg {
    
     align-items: center;

 }

 .bread{
     display: block;
 }

 .navbar-list{
     /* position: absolute;
     right: 0px;
     height: 62vh;
     top: 8vh;
     background-color: #262525;
     display: flex;
     flex-direction: column;
     width: 40%; */
     display: none;
 }

 #bffbd0e8-c318-47ff-a00e-27da9c50196d{
     width: 230;
 }

}